.sections{
    background-color:white
}

.sectionbox{
    padding: 10px 5px;

}

.coaches{
    padding-top: 20px;
    padding-bottom: 0;

}

.coachesimg{
    display: flex;
    justify-content: center;
}
.coachesimg img{
    width: 100%;
    height: 750px;
    object-fit: cover;
}


.sectionbox img {
    width: 100%;
    height: 350px;
    
    object-fit: cover;

}

.sectionbox p{
    width: 100%;
    padding-left: 0px;
    font-family: Archivo Narrow;  
    font-size: larger; 
    text-align: center;
    padding-top: 20px;
}

.sectionbox h1{
    width: 100%;
    padding-top: 30px;
    font-size:x-large;  
    font-weight: bold;
    text-align: center;
}

.coaches p {
    font-size: x-large; 
    text-align: center;
    font-weight: bold;
    
}

h1{
    font-family: 'Finger Paint';
    padding-top: 40px;
    width: 100%;
    padding-left: 18px;
    font-size: 30px; 
    text-align: center;
    font-weight: bold;
}