<app-regular-header></app-regular-header>
<h1>about us</h1>
    <div class="sections">
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md mt-3" *ngFor="let sd of sectionData">
                    <div class="sectionbox">
                        <img class="" src="{{sd.sectionImg}}"/>
                        <h1>{{sd.sectionName}}</h1>
                        <p>{{sd.sectionDesc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="couches">
        <p class="">your couches</p>
        <div class="couchesimg">    
            <img class="couchesimg" src="./assets/img/couches.jpg">
        </div>
    </div>

    <div>
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md mt-2">
                    <div class="sectionbox">
                        <p><BR>AHMED IS THE BEST YES AHMED IS THE BEST YES AHMED IS THE BEST YES AHMED IS THE BEST YES AHMED IS THE BEST YES AHMED IS THE BEST YES</p>
                    </div>
                </div>
                <div class="col-md mt-2">
                    <div class="sectionbox">
                        <img src="./assets/img/ahmed.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md mt-2">
                    <div class="sectionbox">
                        <img src="./assets/img/simo.jpg">
                    </div>
                </div>
                <div class="col-md mt-2">
                    <div class="sectionbox">
                        <p><BR>AHMED IS THE BEST YES AHMED IS THE BEST YES AHMED IS THE BEST YES AHMED IS THE BEST YES AHMED IS THE BEST YES AHMED IS THE BEST YES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


