<app-regular-header></app-regular-header>
<h1>about us</h1>
    <div class="sections">
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md mt-3" *ngFor="let sd of sectionData">
                    <div class="sectionbox">
                        <img class="" src="{{sd.sectionImg}}"/>
                        <h1>{{sd.sectionName}}</h1>
                        <p>{{sd.sectionDesc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="coaches">
        <p class="">your coaches</p>
        <div class="coachesimg">    
            <img class="coachesimg" src="./assets/img/coaches.jpg">
        </div>
    </div>
    <div>
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md mt-2">
                    <div class="sectionbox">
                        <h1>Ahmed</h1>
                        <p></p>
                    </div>
                </div>
                <div class="col-md mt-2">
                    <div class="sectionbox">
                        <img src="./assets/img/ahmed.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md mt-2">
                    <div class="sectionbox">
                        <img src="./assets/img/simo.jpg">
                    </div>
                </div>
                <div class="col-md mt-2">
                    <div class="sectionbox">
                        <h1>Simo</h1>
                        <p>He is a beach lover, born in ANZA a famous surf spot in the area, he is a sports guy, who played soccer, bodybuilding, and kickboxing. Has a diploma from the Moroccan federation of fitness, he began surfing just for fun when he was a lifeguard, fell in love with the board, then start teaching and sharing his love for surfing, a patient, funny, and passionate guy who will make you understand the surfing basics so easy. He can’t wait to share his surf knowledge and the first wave with you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


