<div class="header">    
    <ul class="nav justify-content-center">
    
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="" routerLinkActive="active-link">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="/about" routerLinkActive="active-link">ABOUT US</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link barfont dropbtn" routerLink="#" routerLinkActive="active-link" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SURF PACKAGES
        </a>
        <div class="dropdown-content">
          <a class="nav-link barfont" routerLink="/surfinglessons" routerLinkActive="active-link">SURFING LESSONS</a>
          <a class="nav-link barfont" routerLink="/surfguiding" routerLinkActive="active-link">SURF GUIDING</a>
          <a class="nav-link barfont" routerLink="/surfingandyoga" routerLinkActive="active-link">SURFING&YOGA</a>        
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="/extras" routerLinkActive="active-link">EXTRAS</a>
      </li>        
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="/house" routerLinkActive="active-link">HOUSE&FOOD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="/contact" routerLinkActive="active-link">CONTACT&FAQ</a>
      </li>
    </ul>
    <div class="banner">
        <div class="text">
            contact & FAQ
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md mt-2">
            <div class="sectionbox">
                <!-- <h1 class="contact">Book now!</h1> -->
                <p><br>Feel free to contact us on<br> WhatsApp +212 671-707622, +212 636-423053 or by writing to us on e-mail hello@surfbaymorocco.com<br>We will answer every of your questions!<br><br>You can also read about most asked questions below</p>
            </div>
        </div>
    </div>
</div>
<div class="imgcontainer">
  <h1 class="contact text">Most asked questions</h1>
</div>
<div class="container mt-4 mb-4">
  <div class="row">
      <div class="col-md mt-2">
          <div class="sectionbox">
              <p class="lesssizeforp">What’s included in the packages?<br>
                Accommodation,<br>
                breakfast, lunch, and dinner,<br>
                daily surf Coaching, surf spot transfer and equipment,<br>
                5x yoga lessons and equipment (in the surfing&yoga package).<br>
                When booking 5 nights or more the following activities are included:<br>
                daytrip to Paradise Valley,<br>
                visit to Agadir market,<br>
                sandboarding in the dunes,<br>
                camel or horse or quad riding,<br>
                airport transfers from/to Agadir.<br>
                Please note that Surfing is not included on arrival day.
                <br><br>What is the shortest stay I can book?
                <br>The minimum stay from April to September is 3 nights. 
                In the High Season from October to March a minimum stay is 5 Nights.
                
                <br>In case you are interested in a shorter stay, please contact us via email: hello@surfbaymorocco.com and we will check for last-minute availability
                <br><br>How can I book online?
                <br>After sending your booking inquiry to us, we will check availability and either confirm your booking or provide alternative travel dates or other room suggestions if we don't have availability for your selected dates.
                <br>Once you are ready to book, we will send you a booking confirmation with payment details to pay a deposit and reserve your stay with us.
                <br><br>How long does it take to confirm my inquiry?
                <br>We will do our best to answer your booking request within 24 hours.
                <br><br>How can I pay?
                <br>The deposit of 30% and the remaining balance can be paid by bank transfer to our bank account. <br>Bank account details:
                Mohamed Latrach
                MA64 2300 1038 7194 3211 0002 0080
                <br><br>Do I need to pay a deposit to book my stay?
                <br>To reserve your stay we require a deposit of 30%. The remaining balance will be due 3 days prior to arrival.
                <br><br>Do I get a refund if I cancel?  
                <br>You'll get 100% refund of the total price if you cancel 30 days before arrival day, 50% refund of the total price - 8 days before arrival day, no refund - 7 days prior to arrival day.
                <br><br>What should I pack?
                <br>Hat to protect your head during the time at the beach, sun creme (50 SPF, waterproof) or a zinc stick, beach towels (bathroom towels will be changed upon request during your stay. Just let us know when you will need a fresh towels), during winter warm clothes for yoga classes and evenings, hand sanitizer
                <br><br>
                How’s the weather?</p>
                <img class="imgsize" src="../../../assets/img/weather.png">
                <p class="lesssizeforp">
                  (source: holiday-weather.com)
                  <br><br>Can I buy alcohol in Taghazout?
                  <br>You can only buy alcohol in the liquor stores in Agadir, 30 minutes drive from Taghazout. If you would like to go for a drink, there are a few bars in town that offer cocktails, wine and beer.
                  <br><br>What’s the local currency?
                  <br>The local currency is the Moroccan Dirham (MAD). You can exchange Euros at the airport at a decent rate or in the currency exchange office nearby the guesthouse.
                  <br><br>Where is the closest ATM?
                  <br>Aourir (Banana Village), 3min drive by car.
                  <br><br>Do I need a visa to Morocco?
                  <br>Most travelers who want to visit Morocco can do so without applying for a visa if your trip will not exceed three months. 
                  However, is it essential that all travelers arrive with a passport that is valid for at least six months from the time they enter Morocco (source: Wikipedia).
                  <br><br>Do I need insurance?
                  <br>All guests are advised to purchase travel insurance that covers sports activities like surfing and yoga.
                  <br><br>Is there a pharmacy around?
                  <br>There is a pharmacy nearby 1 minute walk from the house.
                  <br><br>How’s mobile internet there? Can I buy a local sim there?
                  <br>You can purchase a SIM card in the local telephone shop in Taghazout. The price is around 6 €. You can buy top-up cards in most shops. 1 GB of data is around 10 MAD = 1 EUR.
                  <br><br>Is surfing equipment provided?
                  <br>Surfboard, leash and wetsuit are included in all packages.
                  <br><br>Can I rent a car there? What kind of driving license do I need?
                  <br>Car rentals are available in town. You need an international driver’s license to drive in Morocco.
                  <br><br>Which airport should I fly to?
                  <br>The nearest airport is Agadir Al Massira. You can also fly to Marrakech or Essaouira, both 3-4 hours away from Taghazout.
                  For cheap flights and connections check out http://azair.eu.
                  <br><br>Am I going to get picked up from Agadir airport?
                  <br>Please provide your flight details (time and flight number) and we will arrange the airport pickup for you. The driver will wait outside in front of the arrival hall with a name on the paper.
                  <br><br>How to get from Marrakech to Taghazout?
                  <br>Ypu can get private Taxi 120€ or take a public bus from Marrakech bus station to Agadir bus station (3,5 hours bus ride, price: 12€ per ticket).
                  <br>The two main bus companies are SUPRATOURS and CTM. Check their online schedules here: www.supratours.ma/en or www.ctm.ma/en 
                  <br><br>How to get to us?
                  <br>If you let us know about your arrival location and time we will arrange your pick-up from the airport or bus station in Agadir.
                  <br><br>How far is the ocean?
                  <br>The ocean is literally less than 5 minutes walk.
                  <br><br>How many rooms are in the guesthouse?
                  <br>The house has 12 rooms - shared rooms and private rooms.
                  <br><br>What type of food can I expect?
                  <br>We offer a range of moroccan and international cuisine made from local ingredients and we can cater to different special diets: vegan, vegetarian, gluten-free and lactose-free.
                  <br><br>Is the tap water drinkable?
                  <br>The tap water in Morocco is not drinkable. We offer filtered drinkable water in the house for free.
                  <br><br>When is the check-in?
                  <br>Check-In is available from 13:30. If your room is ready before that hour, you are welcome to check-In in your room earlier.
                  <br>In case of early arrivals, you can leave your luggage behind in the reception area.
                  <br><br>When is the check-out?
                  <br>Check-out is at 11:30. 
                  If you like to join surfing lessons on your departure day, please keep in mind to check-out before departure for surfing lessons and leave your luggage behind at the reception.
                  <br><br>Can you store my luggage after I check-out?
                  <br>We can store your luggage in the reception area or in the chillout area.
                  <br><br>Can I stay at the guesthouse without buying a package?
                  <br>Unfortunately, we are only able to offer surfing lessons, surf guiding or surfing&yoga packages, you cannot book rooms only.
                  <br><br>Can I join the surfing lessons without experience?
                  <br>Most of our guests are beginners or surfed a couple of times, so that’s why we are here! To help and teach you all the basics that you have to know to start surfing.
                  <br><br>Is surfing equipment provided?
                  <br>Yes, a board, a leash and a wetsuit will be provided.
                  <br><br>When is the best season for surfing?
                  <br>The high season for surfing is from October to March. During summer days there are smaller waves but still enjoyable.
                  <br><br>Do I need a wetsuit? What’s the water temperature?
                  <br>Wetsuit is recommended all year round to protect you from the sun and is included. The graph below shows the monthly Taghazout water temperature range derived from many years of historical sea surface temperature data (source: seatemperature.org).
                </p>
                <img class="imgsize" src="../../../assets/img/watertemperature.png">
                <p class="lesssizeforp">
                  <br>Do you have surf instructors for different levels?
                  <br>We always offer a surf instructor for two levels, surf beginners and intermediates. The surf instructors will teach their students according to their surf abilities.
                  <br><br>How can I prepare for surfing?
                  <br>By swimming, doing push-ups, back muscle training.
                  <br><br>Where are the best surf spots?
                  <br>Taghazout area offers a large range of good surf spots, suitable for beginners and intermediates, 5-15 min drive from our house.
                  <br><br>Do you provide surf transport?
                  <br>Surf transport is included in all packages. We take our guests by car to different surf spots during the week (if surf & weather conditions allow).
                  <br><br>Can I join yoga classes without experience?
                  <br>The level of the yoga classes is suitable for beginners without any prior experience.
                  <br><br>Do you provide yoga mats and blocks?
                  <br>Yoga mats, blocks and pillows are provided onsite.
                  <br><br>How many yoga sessions are there in a day?
                  <br>We practice yoga at sunrise or sunset (depending on the weather conditions). We offer mostly morning sessions during the summer as the evenings can get quite hot.
                </p>
          </div>
      </div>
  </div>
</div>
