<app-regular-header></app-regular-header>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-2 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-6 mt-3">
            <p class="description">
                Immerse yourself in one of our packages, either you want to keep it only in water or combine the mental benefits with the physical benefits of surfing with the practice of yoga.
            </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md mt-2 bg">
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <h1 class="packages">Surfing</h1>
                </div>
            </div>
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <p>shared room 670 €</p>
                    <p>private twin room/ 2 beds 1.150 €</p>
                    <p>private room /1 bed/ 1 person 1.090 €</p>
                    <p>private room /1 bed / 2 people 1.240 €</p>
                </div>
            </div>
        </div>
        <div class="col-md mt-2 bgguiding">
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <h1 class="packages">Surf guiding</h1>
                </div>
            </div>
            <div class="col-md mt-2">
                <div class="sectionbox">

                </div>
            </div>
        </div>
        <div class="col-md mt-2 bgyogi">
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <h1 class="packages">Surfing and yoga</h1>
                </div>
            </div>
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <p>shared room 780 €</p>
                    <p>private twin room/ 2 beds 1.290 €</p>
                    <p>private room /1 bed/ 1 person 1.190 €</p>
                    <p>private room /1 bed / 2 people 1.350 €</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-6 mt-3">
        <h1 class="sections">What's included</h1>
            <p class="description">
* 7x nights accommodation<br>
* 6x surf lessons including (wetsuits, surfboards, leashes, and surf
transfer to the spots)<br>
* 7x Daily fresh and local meals (breakfast, lunch, snacks, and
dinner)<br>
* Surf trip to imssouane, and sandboarding in the sand dunes<br>
* Day trip to Paradise Valley<br>
* Escape to the middle of the ocean with SUP<br>
* Rolling with bicycles on the beachside<br>
* Visit the traditional market in AGADIR (SOUK ELHED)<br>
* 5x yoga sessions to explore your meditative state (Yoga and surfing package)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-8 mt-3">
            <h1 class="sections">Surf house</h1>
            <p class="descriptionsec">
                Welcome to a place you can call home, our surf house has a
                combination of Moroccan traditional and modern style, which make
                you feel like your own Moroccan home.              
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-8 mt-3">
            <h1 class="sections">Meals</h1>
            <p class="descriptionsec">
We offer meals throughout the day (breakfast, lunch, snacks, dinner,
and filtered water, all meals are cooked and presented as Moroccan
cuisine, with fresh and rich ingredients to provide your body with the
energy needed and make your belly happy, Considering quality and
hygiene.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-8 mt-3">
            <h1 class="sections">YOGA</h1>
            <p class="descriptionsec">
                To improve overall wellness and disconnect from the daily routine,
                we believe that surfing and yoga are a suitable combination for the
                physical and mental benefits that help you improve your balance,
                flexibility, and focus, as well as stretch and recover from the physical
                demand of surfing.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-8 mt-3">
            <h1 class="sections">Extras</h1>
            <p class="descriptionsec">
                You can immerse yourself more and have more fun by trying other
                activities such as:
                QUAD BIKE: you can have a riding tour in the middle of the village
                hills and as well at the beach.
                CAMEL & HORSE RIDING: get an exhilarating horse and camel
                ride along the coast.
                HAMMAM & MASSAGE: Reward yourself with a Moroccan
                hammam or massage to relax your muscles and give them rest and
                recovery.
            </p>
        </div>
    </div>
</div>