.sectionbox p{

    width: 100%;
    font-family: Archivo Narrow;  
    font-size: 20px; 
    text-align: center;
    
}

.packages{
    font-family: 'Finger Paint';
    padding-top: 3px;
    padding-bottom: 0px;
    width: 100%;
    font-size: 21px; 
    text-align: center;
    font-weight: bold;
}

.description{
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-family: Archivo Narrow;
    font-size:22px

  }
  .descriptionsec{
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-family: Archivo Narrow;
    font-size:20px
  }

  
  .bg{
    background-color: #95eaf0;

}

.bgyogi{
    background-color: #f7e19a;
}

.bgguiding{
    background-color: #c6f5ef;

}
.sections{
    font-family: 'Finger Paint';
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    font-size: 24px; 
    text-align: center;
    font-weight: bold;
}

.sectionbox{
    padding: 10px 5px;

}

.sectionbox img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}