<div class="container-fluid footer">
    <div class="row justify-content-md-center center">

        <div class="col-lg-2">
            <h1 class="">surf bay</h1>
            <p class="">Morocco</p>
        </div>
        <div class="col-lg-3">
            <p class="desc"><b>Contact</b><br>Contact us to get more information: adebbagh1996@gmail.com <br>Don't forget to visit our instagrams to see what our lessons are about! </p>
        </div>
        <div class="col-lg-2">
            <p class="desc"><i class="bi bi-whatsapp"></i> +212 636-423053<br><a href="https://www.instagram.com/surfbaymorocco/" target="_blank"><i class="bi bi-instagram"></i> Surf Bay</a>
            <br><a href="https://www.instagram.com/ahmedhmidox/" target="_blank"><i class="bi bi-instagram"></i> Couch Ahmed</a>
            </p>
        </div>

    </div>
   
</div>
