<div class="container-fluid footer">
    <div class="row justify-content-md-center center">

        <div class="col-lg-2">
            <h1 class="">surf bay</h1>
            <p class="">Wave state of mind</p>
        </div>
        <div class="col-lg-2">
            <p class="desc"><b>Contact:</b><br>xxx@gmail.com</p>
        </div>
        <div class="col-lg-2">

            <p class=""><a href="https://www.instagram.com/ahmedhmidox/" target="_blank"><i class="bi bi-instagram"></i> Instagram</a><br><i class="bi bi-whatsapp"></i> +212 636-423053</p>

        </div>

    </div>
   
</div>
