
<app-header></app-header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 mt-3"></div>
            <div class="col-lg-1 mt-3"></div>
            <div class="col-lg-8 mt-3">
                <p class="description">
                    We call it Surf Mecca, Taghazout’s coastline and it’s area with a wide range of enriched surf spots, golden beaches and endless waves. 
                    <br>Surf Bay Morocco offers you a cool place you can call home, tailored lessons so you will be able to face the ocean and tasty and enriched local meals to provide you with enough energy to ride the waves.
                    Now is the time to take a step to the beach, learn the instructions and start surfing on the waves!
                </p>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <div class=""><h1><br>surfing lessons</h1></div>
                    <p>Whether you are a beginner or an intermediate, we provide you with what you need. With our experience in surf coaching we will offer tailored lessons for your level to enhance it and to make you feel the progression. Every day you will get instructions and information from you coach that will lead you to a successful, enjoyable, and safely surf session, as well as quality equipment to catch more and more waves</p>
                    <div class="buttondet">
                        <a routerLink="/surfinglessons">Read more about surfing lessons</a>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <img src="./assets/img/11.jpg"/>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <img src="./assets/img/2222.png"/>
                </div>
            </div>
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <div class=""><h1><br>surf guiding</h1></div>
                    <p>Are you an advanced surfer and you only need a guide to the best surf destinations? With more than 12 surf spots, we will offer you a local guidance to take you for a tour and show you the great spots. As you know the best and big waves show up in the winter</p>
                    <div class="buttondet">
                        <a routerLink="/surfguiding">Read more about surf guiding</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <div class=""><h1><br>surfing&yoga</h1></div>
                    <p>We believe that yoga makes our body’s flexibility and mobility able to surf with confidence and focus while riding the waves and with a comfortable, nicely balanced posture</p>
                    <div class="buttondet">
                        <a routerLink="/surfingandyoga">Read more about surfing&yoga</a>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <img src="./assets/img/surfingandyoga2.jpg"/>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <img src="./assets/img/sandboarding.jpg"/>
                </div>
            </div>
            <div class="col-md mt-2">
                <div class="sectionbox">
                    <div class=""><h1>more adventures</h1></div>
                    <p>Are you looking for another kind of adventure? Another fun way to use a surfboard is boarding on a desert and we are here to show you how. We also offer you a hiketo beautiful Paradise Valley, an oasis with fresh natural pools surrounded by palm trees and breathtaking mountains, perfect for relaxing and sunbathing. The valley is known for its abundance of rock pools and small waterfalls.

                        Stand-up paddling in a lake feels good, but in the ocean is another feeling. In your package you have a SUP ride after surfing waves
                        
                        A morning rolling ride with bicycles just beside the Taghazout coastline will make a fresh start to the day.</p>
                    <div class="buttondet">
                        <a routerLink="/extras">Read more about adventures</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <!--Automat-->
    <!-- <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-3 mt-3" *ngFor="let sd of sectionData">
                <div class="sectionbox">
                    <img src="{{sd.sectionImg}}"/>
                    <div class=""><h1>{{sd.sectionName}}</h1></div>
                    <p>{{sd.sectionDesc}}</p>
                    <div class="buttondet">
                        <a routerLink="{{sd.sectionLink}}" class="btn btn-outline-info" role="button">{{sd.sectionButton}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid imgcontainer">
        <div class="row">
            <div class="col-lg-1 mt-1"></div>
            <div class="col-lg-1 mt-1"></div>
            <div class="col-lg-8 mt-1 text">
                <p class="description">
                     We are located in the south of Morocco, near Agadir, in Tamraght village, just next to the beautiful TAGHAZOUT. Some of the southern surf spots are 
                    just minutes away from your doorstep,  such as Devil’s rock, CroCro beach and Banana point.<br><br>
                    In addition to surfing, we also offer a variety of activities to make your stay as enjoyable as possible. You will be able to participate in Yoga classes, day trip to paradise valley, visiting the big traditional market (Souk Alhed) and sandboarding in the sand dunes. 
                     We will even have an escape to the middle of the ocean with SUPs and rolling with bicycles by the beachside, as well as immerse yourself in the local scene and through the local streets, shop at outdoor markets, 
                    and taste the traditional cuisine.
                    <br><br>
                </p>
            </div>
        </div>
    </div>




