<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="" style="font-family:fantasy">surf bay</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerlink="" routerLinkActive="active-link" routerLinkActiveOptions="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">Abuout us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="surfing" routerLinkActive="active-link">Surfing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="prices" routerLinkActive="active-link">Prices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<!--LOVE YOU AHMED-->
  <div class="">

    <ul class="nav justify-content-center">
    
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="" routerLinkActive="active-link">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="about" routerLinkActive="active-link">ABOUT US</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link barfont dropbtn" href="#" routerLinkActive="active-link" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SURF PACKAGES
        </a>
        <div class="dropdown-content">
          <a class="nav-link barfont" routerLink="/surfinglessons" routerLinkActive="active-link">SURFING LESSONS</a>
          <a class="nav-link barfont" routerLink="/surfguiding" routerLinkActive="active-link">SURF GUIDING</a>
          <a class="nav-link barfont" routerLink="/surfingandyoga" routerLinkActive="active-link">SURFING&YOGA</a>        
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="extras" routerLinkActive="active-link">EXTRAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="house" routerLinkActive="active-link">HOUSE&FOOD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="contact" routerLinkActive="active-link">CONTACT&FAQ</a>
      </li>
    </ul>

    <div class="banner">
      <diV class=""></diV>
    </div>
    <!-- <h1 class="surfing"><br><br><br>surfing</h1><h1 class="adventures"><br><br><br><br><br>adventures</h1> -->
    
  </div>

