<div class="header">    
    <ul class="nav justify-content-center">
    
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="" routerLinkActive="active-link">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="/about" routerLinkActive="active-link">ABOUT US</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link barfont dropbtn" routerLink="#" routerLinkActive="active-link" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SURF PACKAGES
        </a>
        <div class="dropdown-content">
          <a class="nav-link barfont" routerLink="/surfinglessons" routerLinkActive="active-link">SURFING LESSONS</a>
          <a class="nav-link barfont" routerLink="/surfguiding" routerLinkActive="active-link">SURF GUIDING</a>
          <a class="nav-link barfont" routerLink="/surfingandyoga" routerLinkActive="active-link">SURFING&YOGA</a>        
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="/extras" routerLinkActive="active-link">EXTRAS</a>
      </li>        
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="/house" routerLinkActive="active-link">HOUSE&FOOD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="/contact" routerLinkActive="active-link">CONTACT&FAQ</a>
      </li>
    </ul>
    <div class="banner">
        <div class="text">
            extras
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-0 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-10 mt-3">
            <p class="descriptionsec">
              You can have more fun by trying other
              activities such as
            </p>
            <h1 class="sections">Paradise Valley</h1>
            <p class="descriptionsec">
              Paradise Valley is a river valley in the Moroccan High Atlas Mountains. It is 20 km from Tamraght. The valley is known for its abundance of rock pools and small waterfalls. This day trip will take you hiking to beautiful Paradise Valley, an oasis with fresh natural pools surrounded by palm trees and breathtaking mountains. The place is perfect for relaxing, sunbathing and swimming
            </p>
            <h1 class="sections">Sandboarding</h1>
            <p class="descriptionsec">
              probably, you’ve heard of snowboarding in snow mountains. We do it our way but on the sand dunes of Tamri village, a fantastic adventure you can try with a great view of the ocean
            </p>
            <h1 class="sections">Imsouane surf trip</h1>
            <p class="descriptionsec">
              we call it a hiding Gem at the end of Agadir
            </p>
            <h1 class="sections">Quad bike</h1>
            <p class="descriptionsec">
              get a riding tour in the middle of the village
                hills and also at the beach
            </p>
            <h1 class="sections">Camel or horse riding</h1>
            <p class="descriptionsec">
              get an exhilarating horse or camel
                ride along the coast
            </p>
            <h1 class="sections">Hammam & massage</h1>
             <p class="descriptionsec">
              reward yourself with a moroccan
                hammam or massage to relax your muscles and give them a rest and a
                recovery
             </p>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-0 mt-3"></div>
      <div class="col-lg-1 mt-3"></div>
      <div class="col-lg-10 mt-3">
          <p class="description">
              Do you have questions about our adventures?
          </p>
          <div class="buttondet">
              <a routerLink="/contact" class="">Contact us!</a>
          </div>
      </div>
  </div>
</div>