<div class="wholediv banner">    
  <div class=""></div>
    <ul class="nav justify-content-center logobg">
    
      <li class="nav-item">
        <a class="nav-link barfont" href="" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="about" routerLinkActive="active-link">Abuout us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" href="surfing" routerLinkActive="active-link">Surfing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="prices" routerLinkActive="active-link">Prices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="contact" routerLinkActive="active-link">Contact</a>
      </li>
    </ul>
</div>

