<div class="wholediv banner">    
  <div class=""></div>
    <ul class="nav justify-content-center logobg">
    
      <li class="nav-item">
        <a class="nav-link barfont" routerLink="" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" href="about" routerLinkActive="active-link">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" href="surfactivities" routerLinkActive="active-link">Surf activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" href="prices" routerLinkActive="active-link">Surf packages and prices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link barfont" href="contact" routerLinkActive="active-link">Contact</a>
      </li>
    </ul>
</div>

