
.wholediv {

}

.logo{
/*dla loga Surfbay*/
  background-image: url('../../../../assets/img/logo3.png');
  height:150px;
  background-position: center ;
  background-size:contain;
  background-repeat: no-repeat;

}

.banner{
  background-image: linear-gradient(90deg, rgba(58,99,180,0.6755077030812324) 0%, rgba(253,160,29,0.5270483193277311) 45%, rgba(69,232,252,0.6811099439775911) 100%), url('../../../../assets/img/aboutus4.jpg');
  height:350px;
  background-position: center ;
  background-size:cover;
  background-repeat: no-repeat;
}

.barfont{
    font-family: Archivo Narrow;
    font-size:19px;
    font-weight: bold;
    padding-top: 20px;
    background-size: auto;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
  color:var(--secondary-color);
  
  }
  
  .navbar-expand-lg .navbar-nav .nav-link .active-link{
    color:var(--primary-color);
    text-decoration: underline;
    }
  
    a{
      color: #242527;
      text-decoration: none
  
    }
  
    a:hover{
      color: var(--secondary-color);
    }
  
    .logohover:hover{
      color: black;
    }
