/* You can add global styles to this file, and also import other style files */
*
{
    padding: 0;
    margin: 0
}

:root{
    --primary-color:#15D3ED;
    --secondary-color: #55c8f1;
}

body{
    height: 100vh;
    font-family: 'Finger Paint', cursive
 
}

