<app-regular-header></app-regular-header>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-0 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-10 mt-3">
        <!-- <h1 class="sections">Surfing</h1> -->
            <p class="description">
                This package is a comprehensive tool for surfers to plan and book their next surfing adventure. Whether you are a beginner or intermediate, this package has everything you need to plan your next surfing trip. From finding the perfect surf spot to booking all the necessary equipment and services, join the surf family and experience the thrill and excitement of surfing yourself
            </p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-0 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-10 mt-3">
            <h1 class="sections">Surfing and yoga</h1>
            <p class="description">
                We believe that yoga makes our body’s flexibility and mobility able to surf with confidence and focus while riding the waves and with a comfortable,  nicely balanced posture.
            </p>
        </div>
    </div>       
    <div class="row">
        <div class="col-lg-0 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-10 mt-3">
            <h1 class="sections">Surf guiding</h1>
            <p class="description">
                Are you an advanced surfer and you only need a guide to the best surf destinations? With more than 12 surf spots, we will offer you a local 
                guidance to take you for a tour and show you the great spots. As you know the best and big waves show up in the winter.   
            </p>
        </div>
    </div>     -->
</div>
<div class="bg">
    <div class="container mt-4 mb-4 containerwithoutspace">
        <div class="row">
            <div class="col-lg-2 mt-3"></div>
            <div class="col-lg-1 mt-3"></div>
            <div class="col-lg-6 mt-3">
            <h1 class="sections title">What's included</h1>
                <p class="description">
                    6x surf lessons (surfboard, wetsuit and transfer to surf spots are included)<br>
                    7x nights accommodation<br>
                    daily fresh meals (breakfast, lunch and dinner)<br>
                    trip to paradise valley<br>
                    sandboarding in Sahara dunes<br>
                    visit in traditional market (Souk Elhed)<br>
                    horse or camel riding at the beach<br>
                    airport transfer to/from the guesthouse<br>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="buttondet">
            <a routerLink="/extras">Read more about adventures</a>
        </div>
    </div>
    <br>
    <div class="row pricesrow">
        <div class="col-lg-2 mt-2"></div>
        <div class="col-lg-2 mt-2"></div>
        <div class="col-lg-4 mt-2 full myborder">
            <div class="sectionbox">
                <h1>prices</h1>
                <p>shared room 670 €</p>
                <p>private twin room/ 2 beds 1.150 €</p>
                <p>private room /1 bed/ 1 person 1.090 €</p>
                <p>private room /1 bed / 2 people 1.240 €</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-0 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-10 mt-3">
            <p class="description">
                Do you need to book another number of days or only lessons or additional information?
            </p>
            <div class="buttondet">
                <a routerLink="/contact" class="">Read FAQ or contact us</a>
            </div>
        </div>
    </div>
</div>
<!-- <div class=" coaches">
    <div class="coachesimg">    
         <img class="coachesimg" src="./assets/img/banner.png">
     </div>
</div>
<div class="bg">
    <div class="container mt-4 mb-4 containerwithoutspace">
        <div class="row">
            <div class="col-lg-1 mt-3"></div>
            <div class="col-lg-1 mt-3"></div>
            <div class="col-lg-8 mt-3">
                <h1 class="sections">Some of the included adventures and many more...</h1>
                <p class="descriptionsec">
                    Are you looking for another kind of adventure? Well, we offer you a hiketo beautiful Paradise Valley, 
                    an oasis with fresh natural pools surrounded by palm trees and breathtaking mountains, perfect for relaxing and sunbathing. 
                    The valley is known for its abundance of rock pools and small waterfalls.<br><br>
                    Stand-up paddling in a lake feels good, but in the ocean is another feeling. In your package you have a SUP ride after surfing waves <br><br>
                    A morning rolling ride with bicycles just beside the Taghazout coastline will make a fresh start to the day.
                </p>
            </div>
        </div>
    </div>
</div> -->

