/* .sectionbox p{

    width: 100%;
    font-family: Archivo Narrow;  
    font-size: 22px; 
    text-align: center;
    
} */

.description{
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-family: Archivo Narrow;
    font-size:19px;
    color: rgb(100, 100, 100);
  }
  /* .descriptionsec{
    text-align: center;
    padding: 0px 0px 50px 0px;
    font-family: Archivo Narrow;
    font-size:20px;
    color: rgb(100, 100, 100);
  } */

.sections{
    font-family: 'Finger Paint';
    padding-bottom: 10px;
    width: 100%;
    font-size: 20px; 
    text-align: center;
    color: rgb(100, 100, 100);
}
.title{
  margin-top: 8px;
  font-size: 26px; 
}
/*removing spaces between divs*/
.containerwithoutspace { 
  display:inline; 
  padding:0px; 
  margin:0px
} 
/* .coaches{
    padding-top: 0px;
    padding-bottom: 0px;

}

.coachesimg{
    display: flex;
    justify-content: center;
}

.coachesimg img{
    width: 100%;
    height: 750px;
    object-fit: cover;
} */

  .bg{
    background-color: #f7f6f6e3;
  }
  /*removing spaces between divs*/
  .containerwithoutspace { 
    display:inline; 
    padding:0px; 
    margin:0px
} 

/*borders*/
.myborder {
	font-size: 1.6rem;
	display: grid;
	place-items: center;
	border: 2px solid;
	padding: 1rem;
  margin: 10px;
  max-width: 95%;
}
.sectionbox{
  padding: 10px 5px;
}
.sectionbox p{
  width: 100%;
  font-family: Archivo Narrow;  
  font-size: 18px; 
  text-align: center;
  color: rgb(100, 100, 100);

}
.full{
  border-image: linear-gradient(45deg, rgb(156, 220, 231), rgb(235, 235, 235)) 1;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
}
.sectionbox h1{
  font-family: 'Finger Paint';
  padding-top: 3px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 21px; 
  text-align: center;
  color: rgb(100, 100, 100);
}
/*padding of prices section*/
.pricesrow{
  padding: 15px 0px 10px 0px;
  text-align: center;
}

 /*backgrounds*/ 
 .bg{
  background-color: #f3f5f5;
}

/*button*/
.buttondet{
  font-family: Archivo Narrow;
  text-align: center;
  font-size: 20px;
}
a:link, a:visited {
  background-color: #69d1e4;
  color: white;
  padding: 10px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(226, 226, 226);
}