<app-regular-header></app-regular-header>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-8 mt-3">
        <h1 class="sections">Surfing</h1>
            <p class="description">
                <br>Whether you are a beginner or an intermediate, we provide you with what you do need, with our experience in surf coaching will offer 
                tailored lessons for your level to enhance it and to make you feel the progression, every day you will get instructions and information 
                from you coach that will lead you to a successful, enjoyable, and safely surf session, as well as quality equipment to enjoy every wave.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-8 mt-3 bg">
            <h1 class="sections">Surf guiding</h1>
            <p class="description">
                <br>Are you an advanced surfer and you only need a guide to the best surf destination!? with more than 12 surf spots, we will offer you a local 
                guide who will take you for a tour and show you the great spots. As we all know that the best and big swells show up in the winter.   
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-8 mt-3">
            <h1 class="sections">Surfing and yoga</h1>
            <p class="description">
                <br>We believe that yoga makes our body’s flexibility and mobility able to surf with confidence and focus while riding the waves, as well as 
                comfortable with a nicely balanced posture.<br><br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-1 mt-3"></div>
        <div class="col-lg-8 mt-3">
            <h1 class="sections">Some of the included adventures and many more...</h1>
            <p class="descriptionsec">
                <br>Are you looking for another kind of adventure? Well, we offer you a hiketo beautiful Paradise Valley, 
                an oasis with fresh natural pools surrounded by palm trees and breathtaking mountains, perfect for relaxing, and sunbathing. 
                Will make you enjoy nature’s vibes, the valley is known for its abundance of rock pools and small waterfalls.<br><br>
                Stand-uppaddling in a lake feels good, but in the ocean is another feeling, in your package you have a SUP ride after the waves, 
                and you will feel like you are in a large pool to swim and have fun.<br><br>
                Endlessadventures with us! A morning rolling ride with bicycles just beside the Taghazout coastline(4,6 km) will makeit a freshstart tothe day.
            </p>
        </div>
    </div>
</div>